@model IEnumerable<Labb4MVC.Models.BookType>

@{
    ViewData["Title"] = "BookTypes";
}

<h1>BookTypes</h1>

<p>
    <a asp-action="CreateBookType">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="CreateBookOfType" asp-route-isbn="@item.ISBN">Add Book</a> |
                <a asp-action="EditBookType" asp-route-isbn="@item.ISBN">Edit</a> |
                <a asp-action="DeleteBookType" asp-route-isbn="@item.ISBN">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
