@model Labb4MVC.ViewModel.CustomerBooks

@{
    ViewData["Title"] = "Books";
    LendPeriod? currentLender;
}

<h1>Books</h1>

<p>
<a asp-action="LendingPeriods" asp-route-id="@Model.Customer">Show Periods</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                BookType
            </th>
            <th>
                Book Type
            </th>
            <th>
                Lend Status
            </th>
            <th>
                Until
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookType.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookType.Title)
            </td>
            @if ((currentLender = item.LentTo.FirstOrDefault(l => l.Start <= DateTime.Now && l.End >= DateTime.Now)) is not null)
            {        
                <td>
                    @Html.DisplayFor(modelItem => currentLender.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => currentLender.End)
                </td>
            }
            else
            {
                <td>
                    @(item.LentTo.LastOrDefault(l => l.End < DateTime.Now)?.HasBook ?? false ? "Not returned" : "Available")
                </td>
                <td>

                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @{
                        var returns = item.LentTo.Where(l => l.HasBook);
                        var takes = item.LentTo.Where(l => !l.HasBook);
                        var currentReturn = returns.FirstOrDefault(l => l.Customer.ID == Model.Customer);
                        var currentTake = takes.FirstOrDefault(l => l.Start <= DateTime.Now && l.End >= DateTime.Now && l.Customer.ID == Model.Customer);
                        
                        if(currentReturn is not null)
                        {
                            <a asp-action="ReturnBook" asp-route-id="@currentReturn.ID">Return</a>
                        }
                        else if(currentTake is not null)
                        {
                            <a asp-action="TakeBook" asp-route-id="@currentTake.ID">Take</a>
                        }
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
