@model IEnumerable<Labb4MVC.Models.Customer>

@{
    ViewData["Title"] = "Customers";
    BookDbContext context = new();
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any(i => true)) 
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    <a asp-action="DummyCustomerLogin" asp-route-id="@item.ID">Login</a> |
                    <a asp-action="EditCustomer" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="DetailCustomer" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="DeleteCustomer" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <p>No customers avalible!</p>
}
